/***

Common

***/

body{
    font-family: monospace,sans-serif ;
}

.font-primary{
    color: rgb(8, 200, 214);
}

.title-icon{
    font-size:20px;
    font-weight: bold;
}

p{
    font-size: 14px;
}

h2{
    font-weight: bold;
    font-size: 33px;
    margin-bottom: 20px;
}
a.font-black{
    color: #000!important;
}
/****
About
***/
#about {
    margin: 60px auto;
    max-width: 400px;
    text-align:center;
}

#about img {
    border-radius: 50%;
    width: 120px;
    margin-bottom: 10px;
}

#about .name {
    font-size: 19px;
}

#about .vocation {
    font-size: 17px;
    color: #bbbbc2;
    margin-bottom: 10px;
}

#about .skills{
    font-size: 14px;
    color:rgb(22, 6, 167);
    margin-bottom: 10px;
}

#about .email{
    margin-top: 14px;
    font-size: 30px;
}
#about .icons {
    margin-top: 20px;
    font-size: 30px;
}

#about .icons a{
    color: #050505;
}

/**************
Project
**************/

#project{
    margin: 60px auto;
    width: 80%;
}
#project h2{
    text-align: center ;
}
#project .card img{
    width: 100%;
}
#project .card-title{
    font-weight: bold;
}